body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-div{
    width: 20rem;
    background-color: #fff;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}
.main-heading{
    display: flex;
    align-items: center;
    background-color: rgb(193, 224, 228);
    gap: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 10px;
}
.main-heading p{
    cursor: pointer;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
}
.answers{
    background-color: rgb(228, 190, 197);
    margin-top: -10px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}